@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
header {
  position: relative;
  z-index: 10;
  padding: 10px;
}
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .container .logo h3 {
  font-size: 35px;
  font-weight: 700;
  background: linear-gradient(125deg, #e885ff 49%, #85f7ff 59%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header .container .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
header .container .links .link {
  font-weight: 600;
  font-size: 18px;
}
header .container .links .link.active {
  color: #6c1eda !important;
}
header .container .header_info .btn_start {
  padding: 15px 40px 15px 40px;
  font-weight: 500;
  background-color: #000000;
  color: white !important;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
header .container .header_info .btn_start i {
  font-size: 13px;
}
header .container .header_info .btn_menu {
  display: none;
}

@media (max-width: 768px) {
  header {
    padding: 5px 0;
  }
  header .container .logo h3 {
    font-size: 28px;
    margin-bottom: 0;
  }
  header .container .links {
    display: none;
  }
  header .container .header_info .btn_start {
    display: none;
  }
  header .container .header_info .btn_menu {
    display: block;
    cursor: pointer;
  }
  header .container .header_info .btn_menu svg {
    width: 30px;
  }
}
.overflow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.57);
  z-index: 998;
  display: none;
}
.overflow.active {
  display: block;
}

.menu_mobile {
  position: fixed;
  height: 100%;
  width: 300px;
  top: 0;
  left: -100%;
  background-color: white;
  z-index: 999;
  padding: 20px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.menu_mobile.active {
  left: 0;
}
.menu_mobile .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(20, 3, 66, 0.07);
}
.menu_mobile .head a {
  font-size: 18px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e885ff), to(#85f7ff));
  background-image: linear-gradient(180deg, #e885ff 0%, #85f7ff 100%);
  color: white !important;
  padding: 4px 30px;
  border-radius: 50px;
}
.menu_mobile .head .btn_close {
  color: #000000;
  cursor: pointer;
}
.menu_mobile .links {
  padding-top: 15px;
}
.menu_mobile .links .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  color: #000000 !important;
  font-weight: 500;
  font-size: 18px;
}
.menu_mobile .links .link svg {
  width: 18px;
}

footer {
  padding: 80px 0 50px;
  background-color: #0b0a1e;
  color: white;
  background-image: url("../images/bg-footer.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
footer .line {
  margin-bottom: 70px;
}
footer .line .logo h3 {
  font-size: 35px;
  font-weight: 700;
  background: linear-gradient(115deg, #e885ff 69%, #85f7ff 99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
footer .line .desc {
  font-size: 15px;
  line-height: 1.5;
  color: #8b85a1;
}
footer .line .title_socail {
  margin-bottom: 8px;
  font-size: 22px;
}
footer .line .social_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
footer .line .social_media a i {
  font-size: 18px;
  color: #6c1eda;
}
footer .line h4 {
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 700;
}
footer .line .links a {
  display: block;
  padding-left: 10px;
  position: relative;
  color: #8b85a1 !important;
}
footer .line .links a:hover {
  color: #e885ff !important;
}
footer .line .links a:not(:last-child) {
  margin-bottom: 15px;
}
footer .line .input_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  overflow: hidden;
  margin-bottom: 10px;
}
footer .line .input_item input {
  padding: 10px;
  width: 100%;
  height: 40px;
}
footer .line .input_item button {
  padding: 10px 20px;
  border: none;
  background-color: #e885ff;
  height: 40px;
  color: white;
}
footer .line .input_item button i {
  font-size: 15px;
}
footer .bottom_footer {
  padding-top: 15px;
  border-top: 1px solid gray;
}
footer .bottom_footer p {
  margin-bottom: 0;
  font-weight: 600;
  color: #8b85a1;
}

@media (max-width: 768px) {
  footer {
    padding: 30px 0 20px;
    text-align: center;
  }
  footer .line {
    margin-bottom: 20px;
  }
  footer .line .logo h3 {
    font-size: 27px;
  }
  footer .line .desc {
    font-size: 13px;
  }
  footer .line .btn_about {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 15px;
  }
  footer .line .btn_about span {
    width: 28px;
    height: 28px;
  }
  footer .line .btn_about span i {
    font-size: 11px;
  }
  footer .line h4 {
    font-size: 19px;
    margin-bottom: 10px;
  }
  footer .line .links {
    margin: 10px 0;
  }
  footer .line .links a {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto 10px !important;
    font-size: 14px;
    padding-left: 5px;
  }
  footer .line .links a::before {
    width: 5px;
    height: 5px;
  }
  footer .line .input_item {
    border-radius: 100px;
  }
  footer .line .input_item input {
    padding: 4px 10px;
    height: 35px;
    font-size: 14px;
  }
  footer .line .input_item button {
    height: 35px;
    padding: 0px 20px;
  }
  footer .line .input_item button i {
    font-size: 11px;
  }
  footer .line .social_media {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .bottom_footer p {
    font-size: 12px;
  }
}
.secound_hero {
  height: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eff2fb;
}
.secound_hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.secound_hero .container .text .title {
  font-size: 23px;
  color: #6c1eda;
  font-weight: 600;
}
.secound_hero .container .text .desc {
  font-size: 35px;
  font-weight: 600;
}
.secound_hero .container .images {
  position: relative;
}
.secound_hero .container .images > div {
  position: absolute;
}
.secound_hero .container .images > div.img_icon_instagram {
  top: 25px;
  right: -110px;
}
.secound_hero .container .images > div.img_icon_facebook {
  top: -105px;
  left: 0;
}
.secound_hero .container .images > div.img_icon_twitter {
  bottom: 0;
  left: 200px;
}
.secound_hero .container .images > div img {
  width: 75px;
}

@media (max-width: 768px) {
  .secound_hero {
    height: 150px;
  }
  .secound_hero .container .text .title {
    font-size: 19px;
    margin-bottom: 0;
  }
  .secound_hero .container .text .desc {
    font-size: 25px;
    margin-bottom: 0;
  }
  .secound_hero .container .images > div.img_icon_facebook {
    top: -55px;
    left: 35px;
  }
  .secound_hero .container .images > div.img_icon_twitter {
    left: 150px;
  }
  .secound_hero .container .images > div img {
    width: 40px;
  }
}
.hero_section {
  height: calc(100vh - 79px);
}
.hero_section .container {
  height: 100%;
}
.hero_section .container .line {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.hero_section .container .line .left,
.hero_section .container .line .right {
  width: 50%;
}
.hero_section .container .line .left .subtitle {
  font-size: 21px;
  margin-bottom: 10px;
  font-weight: 600;
  background: linear-gradient(50deg, #739eff 67%, #df53ff 94%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero_section .container .line .left .title {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 20px;
}
.hero_section .container .line .left .title span {
  background: -webkit-gradient(linear, left top, right top, from(#85f7ff), color-stop(40%, #739eff), color-stop(#df53ff), to(#e885ff));
  background: linear-gradient(90deg, #85f7ff 0%, #739eff 40%, #df53ff, #e885ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero_section .container .line .left .desc {
  color: rgba(60, 66, 117, 0.631372549);
  font-weight: 600;
  font-size: 17px;
}
.hero_section .container .line .left .btn_start {
  display: inline-block;
  padding: 12px 50px;
  font-weight: 500;
  background-color: #000000;
  color: white !important;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  border: none;
}
.hero_section .container .line .left .bottom_text {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.hero_section .container .line .left .bottom_text img {
  width: 188px;
}
.hero_section .container .line .left .bottom_text span {
  font-weight: 600;
}
.hero_section .container .line .right {
  position: relative;
}
.hero_section .container .line .right .image_frame_hero {
  margin: auto;
  width: 450px;
  max-width: 660px;
  -webkit-filter: brightness(101%) contrast(100%) saturate(141%) blur(0px) hue-rotate(0deg);
          filter: brightness(101%) contrast(100%) saturate(141%) blur(0px) hue-rotate(0deg);
  border-radius: 30px 30px 30px 30px;
}
.hero_section .container .line .right .image_frame_hero img {
  width: 100%;
  height: 100%;
}
.hero_section .container .line .right .img_hero {
  width: 350px;
  position: absolute;
  bottom: -248px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.hero_section .container .line .right .img_hero img {
  width: 100%;
  height: 100%;
}
.hero_section .container .line .right .img_tiktok,
.hero_section .container .line .right .img_insta,
.hero_section .container .line .right .img_facebook,
.hero_section .container .line .right .img_sales,
.hero_section .container .line .right .img_members {
  position: absolute;
}
.hero_section .container .line .right .img_tiktok {
  top: 10px;
  left: 52px;
}
.hero_section .container .line .right .img_tiktok img {
  width: 90px;
}
.hero_section .container .line .right .img_insta {
  top: 150px;
  right: 90px;
}
.hero_section .container .line .right .img_insta img {
  width: 95px;
}
.hero_section .container .line .right .img_facebook {
  bottom: 150px;
  right: 45px;
}
.hero_section .container .line .right .img_facebook img {
  width: 110px;
}
.hero_section .container .line .right .img_sales {
  bottom: 20px;
  left: 0;
}
.hero_section .container .line .right .img_sales img {
  width: 230px;
  border-radius: 10px;
}
.hero_section .container .line .right .img_members {
  bottom: -40px;
  right: 0;
}
.hero_section .container .line .right .img_members img {
  width: 190px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .hero_section .container {
    margin-top: 60px;
  }
  .hero_section .container .line {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
    text-align: center;
  }
  .hero_section .container .line .left,
.hero_section .container .line .right {
    width: 100%;
  }
  .hero_section .container .line .left .subtitle {
    font-size: 16px;
    margin-bottom: 2px;
    background: linear-gradient(159deg, #739eff 37%, #df53ff 94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .hero_section .container .line .left .title {
    font-size: 28px;
    margin-bottom: 5px;
  }
  .hero_section .container .line .left .desc {
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 10px;
  }
  .hero_section .container .line .left .btn_start {
    margin: auto;
    padding: 5px 25px;
    font-size: 14px;
  }
  .hero_section .container .line .left .bottom_text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 5px;
    margin-top: 8px;
  }
  .hero_section .container .line .left .bottom_text img {
    width: 110px;
  }
  .hero_section .container .line .left .bottom_text span {
    font-size: 14px;
  }
  .hero_section .container .line .right .image_frame_hero {
    width: 100%;
    max-width: 350px;
  }
  .hero_section .container .line .right .img_hero {
    max-width: 280px;
    width: 100%;
    bottom: -198px;
  }
  .hero_section .container .line .right .img_tiktok {
    left: 22px;
  }
  .hero_section .container .line .right .img_tiktok img {
    width: 67px;
  }
  .hero_section .container .line .right .img_insta {
    top: 100px;
    right: 20px;
  }
  .hero_section .container .line .right .img_insta img {
    width: 70px;
  }
  .hero_section .container .line .right .img_facebook {
    right: 15px;
  }
  .hero_section .container .line .right .img_facebook img {
    width: 70px;
  }
  .hero_section .container .line .right .img_sales {
    left: 5px;
  }
  .hero_section .container .line .right .img_sales img {
    width: 130px;
  }
  .hero_section .container .line .right .img_members {
    bottom: 2px;
    right: 20px;
  }
  .hero_section .container .line .right .img_members img {
    width: 120px;
  }
}
.about_programe,
.about_whatsapp {
  padding: 80px 0;
  background-color: #ebeef9;
}
.about_programe .line,
.about_whatsapp .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.about_programe .line .left,
.about_programe .line .right,
.about_whatsapp .line .left,
.about_whatsapp .line .right {
  width: 100%;
}
.about_programe .line .right,
.about_whatsapp .line .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
  position: relative;
}
.about_programe .line .right .image,
.about_whatsapp .line .right .image {
  position: relative;
}
.about_programe .line .right .image img,
.about_whatsapp .line .right .image img {
  width: 95%;
  border-radius: 150px;
}
.about_programe .line .right .image:first-child,
.about_whatsapp .line .right .image:first-child {
  -webkit-transform: translateY(60px);
          transform: translateY(60px);
}
.about_programe .line .right .image:first-child::before,
.about_whatsapp .line .right .image:first-child::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -70px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #ff5e87;
}
.about_programe .line .right .image:nth-child(2)::before,
.about_whatsapp .line .right .image:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 30px;
  right: -100px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #00f9b9;
}
.about_programe .line .right .img_icon,
.about_whatsapp .line .right .img_icon {
  position: absolute;
  top: 50px;
  right: 0;
}
.about_programe .line .right .img_icon img,
.about_whatsapp .line .right .img_icon img {
  width: 100px;
}
.about_programe .line .left .subtitle,
.about_whatsapp .line .left .subtitle {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
  background: linear-gradient(50deg, #739eff 67%, #df53ff 94%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about_programe .line .left .title,
.about_whatsapp .line .left .title {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 15px;
}
.about_programe .line .left .desc,
.about_whatsapp .line .left .desc {
  color: rgba(60, 66, 117, 0.631372549);
  font-weight: 600;
  font-size: 17px;
}
.about_programe .line .left .feature,
.about_whatsapp .line .left .feature {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.about_programe .line .left .feature i,
.about_whatsapp .line .left .feature i {
  color: #6c1eda;
  font-size: 20px;
}
.about_programe .line .left .feature span,
.about_whatsapp .line .left .feature span {
  font-size: 17px;
}

@media (max-width: 768px) {
  .about_programe,
.about_whatsapp {
    padding: 30px 0 70px;
  }
  .about_programe .line,
.about_whatsapp .line {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 20px;
    text-align: center;
  }
  .about_programe .line .left,
.about_programe .line .right,
.about_whatsapp .line .left,
.about_whatsapp .line .right {
    width: 100%;
  }
  .about_programe .line .left .subtitle,
.about_whatsapp .line .left .subtitle {
    font-size: 18px;
    margin-bottom: 3px;
  }
  .about_programe .line .left .title,
.about_whatsapp .line .left .title {
    font-size: 28px;
    margin-bottom: 0;
  }
  .about_programe .line .left .desc,
.about_whatsapp .line .left .desc {
    font-size: 14px;
    margin-bottom: 6px;
  }
  .about_programe .line .left .feature,
.about_whatsapp .line .left .feature {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 5px;
  }
  .about_programe .line .left .feature i,
.about_whatsapp .line .left .feature i {
    font-size: 16px;
  }
  .about_programe .line .left .feature span,
.about_whatsapp .line .left .feature span {
    font-size: 15px;
    font-weight: 600;
  }
  .about_programe .line .right,
.about_whatsapp .line .right {
    gap: 10px;
  }
  .about_programe .line .right .image:first-child::before,
.about_whatsapp .line .right .image:first-child::before {
    bottom: 44px;
    left: -60px;
    width: 60px;
    height: 60px;
    z-index: 10;
  }
  .about_programe .line .right .image:nth-child(2)::before,
.about_whatsapp .line .right .image:nth-child(2)::before {
    top: 20px;
    right: -70px;
    width: 35px;
    height: 35px;
    z-index: 10;
  }
  .about_programe .line .right .img_icon,
.about_whatsapp .line .right .img_icon {
    display: none;
  }
}
.about_whatsapp {
  background-color: transparent;
  padding: 100px 0;
}
.about_whatsapp .right {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about_whatsapp .right .img_about {
  text-align: center;
}
.about_whatsapp .right .img_about img {
  width: 85%;
  border-radius: 60px;
  -webkit-box-shadow: 0px 25px 50px 0px rgba(217, 217, 217, 0.36);
          box-shadow: 0px 25px 50px 0px rgba(217, 217, 217, 0.36);
}
.about_whatsapp .right .img_person {
  position: absolute;
  bottom: -45px;
  right: 0px;
}
.about_whatsapp .right .img_person img {
  width: 75%;
  position: relative;
  z-index: 10;
}
.about_whatsapp .right .img_person .bg_person {
  position: absolute;
  bottom: 0;
  left: 63%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 5;
}

@media (max-width: 768px) {
  .about_whatsapp {
    padding: 40px 0;
  }
  .about_whatsapp .left .subtitle {
    font-size: 17px;
  }
  .about_whatsapp .left .title {
    font-size: 20px !important;
    margin-bottom: 5px;
  }
  .about_whatsapp .right .img_about img {
    width: 100%;
    height: 360px;
    border-radius: 40px;
  }
  .about_whatsapp .right .img_person {
    display: none;
  }
}
.pricing {
  padding: 150px 0;
}
.pricing .subtitle {
  font-size: 22px;
  font-weight: 600;
  color: #6c1eda;
  text-align: center;
}
.pricing .title {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 5px;
}
.pricing .desc {
  color: gray;
  margin: auto;
  text-align: center;
}
.pricing .boxs {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 40px;
  margin-top: 60px;
}
.pricing .boxs .box {
  background-color: #eff2fb;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
}
.pricing .boxs .box.active {
  background-color: #6c1eda;
  color: white;
}
.pricing .boxs .box.active .desc {
  color: rgb(198, 198, 198);
}
.pricing .boxs .box.active .features .feature i {
  color: white;
}
.pricing .boxs .box.active .btn_buy {
  background-color: white;
  color: #6c1eda !important;
}
.pricing .boxs .box .icon {
  text-align: center;
  margin-bottom: 25px;
}
.pricing .boxs .box .icon img {
  width: 80px;
}
.pricing .boxs .box .title {
  font-size: 26px;
}
.pricing .boxs .box .desc {
  font-size: 15px;
  color: gray;
  margin-bottom: 0;
}
.pricing .boxs .box .price {
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  margin: 20px 0;
}
.pricing .boxs .box .features {
  text-align: center;
  margin-bottom: 30px;
}
.pricing .boxs .box .features .feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
}
.pricing .boxs .box .features .feature:not(:last-child) {
  margin-bottom: 10px;
}
.pricing .boxs .box .features .feature i {
  color: #6c1eda;
  font-size: 13px;
}
.pricing .boxs .box .features .feature span {
  font-size: 17px;
}
.pricing .boxs .box .btn_buy {
  background-color: #6c1eda;
  color: white !important;
  font-weight: 600;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  padding: 8px 35px;
  margin: auto;
}

@media (max-width: 768px) {
  .pricing {
    padding: 30px 0;
  }
  .pricing .subtitle {
    font-size: 15px;
  }
  .pricing .title {
    font-size: 24px;
    margin-bottom: 0;
  }
  .pricing .desc {
    font-size: 13px;
  }
  .pricing .boxs {
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 25px;
    margin-top: 30px;
  }
  .pricing .boxs .box {
    padding: 15px;
  }
  .pricing .boxs .box .icon {
    margin-bottom: 8px;
  }
  .pricing .boxs .box .icon img {
    width: 60px;
  }
  .pricing .boxs .box .title {
    font-size: 20px;
  }
  .pricing .boxs .box .desc {
    font-size: 13px;
  }
  .pricing .boxs .box .price {
    font-size: 26px;
    margin: 10px 0;
  }
  .pricing .boxs .box .features {
    margin-bottom: 15px;
  }
  .pricing .boxs .box .features .feature {
    gap: 4px;
  }
  .pricing .boxs .box .features .feature:not(:last-child) {
    margin-bottom: 3px;
  }
  .pricing .boxs .box .features .feature span {
    font-size: 15px;
  }
  .pricing .boxs .box .btn_buy {
    padding: 6px 35px;
    font-size: 15px;
  }
}
.contact_section {
  padding: 70px 0;
  background-color: white;
}
.contact_section .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.contact_section .line .left,
.contact_section .line .right {
  width: 50%;
}
.contact_section .line .left .subtitle {
  font-size: 21px;
  color: #6c1eda;
}
.contact_section .line .left .title {
  font-size: 45px;
  font-weight: 700;
}
.contact_section .line .left .desc {
  color: gray;
  margin-bottom: 30px;
}
.contact_section .line .left .item {
  padding: 10px 20px;
  border: 2px dashed gray;
  border-radius: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.contact_section .line .left .item:not(:last-child) {
  margin-bottom: 15px;
}
.contact_section .line .left .item .icon {
  width: 60px;
  height: 60px;
  background-color: #eff2fb;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contact_section .line .left .item .icon svg {
  color: #6c1eda;
}
.contact_section .line .left .item .text h4 {
  margin-bottom: 0;
  font-size: 19px;
  font-weight: 600;
}
.contact_section .line .left .item .text span {
  font-size: 15px;
  color: gray;
}
.contact_section .line .right form input,
.contact_section .line .right form textarea {
  padding: 15px;
  background-color: #eff2fb;
  border: none;
  outline: none;
  border-radius: 50px;
  width: 100%;
  margin-bottom: 15px;
}
.contact_section .line .right form textarea {
  border-radius: 12px;
  height: 200px;
}
.contact_section .line .right form .btn_submit {
  background-color: #6c1eda;
  color: white;
  font-weight: 600;
  font-size: 18px;
  border-radius: 50px;
  padding: 8px 35px;
}

@media (max-width: 768px) {
  .contact_section {
    padding: 30px 0;
  }
  .contact_section .line {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .contact_section .line .left,
.contact_section .line .right {
    width: 100%;
  }
  .contact_section .line .left {
    text-align: center;
  }
  .contact_section .line .left .subtitle {
    font-size: 18px;
  }
  .contact_section .line .left .title {
    font-size: 23px;
  }
  .contact_section .line .left .desc {
    font-size: 13px;
    margin-bottom: 20px;
  }
  .contact_section .line .left .item {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5px;
    border: none;
  }
  .contact_section .line .left .item .icon {
    width: 40px;
    height: 40px;
  }
  .contact_section .line .left .item .icon svg {
    width: 20px;
  }
  .contact_section .line .left .item .text h4 {
    font-size: 17px;
  }
  .contact_section .line .left .item .text span {
    font-size: 13px;
  }
  .contact_section .line .right form input,
.contact_section .line .right form textarea {
    padding: 10px 15px;
    margin-bottom: 8px;
    font-size: 15px;
  }
  .contact_section .line .right form textarea {
    height: 120px;
  }
  .contact_section .line .right form .btn_submit {
    padding: 5px 25px;
    font-size: 14px;
  }
}
.marketing_program {
  padding: 60px 0;
}
.marketing_program .title {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 25px;
}
.marketing_program .boxs {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 30px;
}
.marketing_program .boxs .box:hover .image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.marketing_program .boxs .box:hover .title_box {
  color: #6c1eda;
}
.marketing_program .boxs .box .image {
  overflow: hidden;
  border-radius: 20px;
}
.marketing_program .boxs .box .image img {
  width: 100%;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.marketing_program .boxs .box .type {
  font-size: 17px;
  color: #6c1eda;
  font-weight: 500;
  margin: 10px 0 0;
}
.marketing_program .boxs .box .title_box {
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 2px;
}
.marketing_program .boxs .box .desc {
  font-size: 14px;
  color: gray;
}

@media (max-width: 768px) {
  .marketing_program {
    padding: 30px 0;
  }
  .marketing_program .title {
    font-size: 23px;
    margin-bottom: 15px;
  }
  .marketing_program .boxs {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
  }
  .marketing_program .boxs .box .image img {
    height: 170px;
  }
  .marketing_program .boxs .box .type {
    font-size: 15px;
    margin: 7px 0 2px;
  }
  .marketing_program .boxs .box .title_box {
    font-size: 18px;
  }
  .marketing_program .boxs .box .desc {
    font-size: 12px;
  }
}
.details_section {
  padding: 60px 0;
  max-width: 900px;
  margin: auto;
}
.details_section .image img {
  width: 100%;
  height: 300px;
  border-radius: 12px;
  -o-object-fit: cover;
     object-fit: cover;
}
.details_section .title {
  font-size: 26px;
  font-weight: 700;
  margin: 10px 0;
}
.details_section .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.details_section .item:not(:last-child) {
  margin-bottom: 15px;
}
.details_section .item i {
  color: #6c1eda;
  font-size: 18px;
}
.details_section .item span {
  font-size: 17px;
}

@media (max-width: 768px) {
  .details_section {
    padding: 30px 0;
  }
  .details_section .image img {
    height: 200px;
  }
  .details_section .title {
    font-size: 19px;
  }
  .details_section .item {
    gap: 4px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .details_section .item:not(:last-child) {
    margin-bottom: 8px;
  }
  .details_section .item i {
    font-size: 12px;
  }
  .details_section .item span {
    font-size: 14px;
  }
}
.requirements_section {
  padding: 60px 0;
  background-color: #31245b;
  color: white;
}
.requirements_section .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgb(212, 208, 208);
}
.requirements_section .line .left,
.requirements_section .line .right {
  width: 50%;
}
.requirements_section .line .left .subtitle {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
  background: linear-gradient(50deg, #739eff 67%, #df53ff 94%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.requirements_section .line .left .title {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 15px;
}
.requirements_section .line .left .desc {
  color: rgba(213, 215, 231, 0.631);
  font-weight: 600;
  font-size: 17px;
}
.requirements_section .line .left .feature {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.requirements_section .line .left .feature i {
  color: #6c1eda;
  font-size: 20px;
}
.requirements_section .line .left .feature span {
  font-size: 17px;
}
.requirements_section .line .right .img_section {
  text-align: center;
  position: relative;
}
.requirements_section .line .right .img_section > img {
  width: 80%;
  margin: auto;
}
.requirements_section .line .right .img_section .icon_require {
  position: absolute;
  bottom: 20px;
  left: 50px;
}
.requirements_section .line .right .img_section .icon_require:nth-child(2) {
  bottom: 50px;
  right: -300px;
}
.requirements_section .line .right .img_section .icon_require img {
  width: 180px;
}
.requirements_section .requirements_boxs {
  padding-top: 30px;
}
.requirements_section .requirements_boxs h3 {
  text-align: center;
  font-weight: 700;
  font-size: 25px;
}
.requirements_section .requirements_boxs .boxs {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 50px;
}
.requirements_section .requirements_boxs .boxs .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.requirements_section .requirements_boxs .boxs .box .icon {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e885ff), to(#85f7ff));
  background-image: linear-gradient(180deg, #e885ff 0%, #85f7ff 100%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.requirements_section .requirements_boxs .boxs .box .icon svg {
  width: 35px;
}
.requirements_section .requirements_boxs .boxs .box .text h5 {
  font-size: 21px;
  font-weight: 600;
  margin-bottom: 0;
}
.requirements_section .requirements_boxs .boxs .box .text span {
  color: rgb(168, 168, 168);
  font-size: 15px;
}

@media (max-width: 768px) {
  .requirements_section {
    padding: 30px 0;
  }
  .requirements_section .line {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
  .requirements_section .line .left,
.requirements_section .line .right {
    width: 100%;
  }
  .requirements_section .line .left .subtitle {
    font-size: 18px;
    margin-bottom: 3px;
  }
  .requirements_section .line .left .title {
    font-size: 28px;
    margin-bottom: 0;
  }
  .requirements_section .line .left .desc {
    font-size: 14px;
    margin-bottom: 6px;
  }
  .requirements_section .line .left .feature {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 5px;
  }
  .requirements_section .line .left .feature i {
    font-size: 16px;
  }
  .requirements_section .line .left .feature span {
    font-size: 15px;
    font-weight: 600;
  }
  .requirements_section .line .right .img_section .icon_require:nth-child(2) {
    right: -120px;
  }
  .requirements_section .line .right .img_section .icon_require img {
    width: 110px;
  }
  .requirements_section .requirements_boxs {
    padding: 20px;
  }
  .requirements_section .requirements_boxs h3 {
    font-size: 20px;
  }
  .requirements_section .requirements_boxs .boxs {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
    margin-top: 30px;
  }
  .requirements_section .requirements_boxs .boxs .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    gap: 6px;
  }
  .requirements_section .requirements_boxs .boxs .box .icon {
    width: 50px;
    height: 50px;
  }
  .requirements_section .requirements_boxs .boxs .box .icon svg {
    width: 25px;
  }
  .requirements_section .requirements_boxs .boxs .box .text h5 {
    font-size: 18px;
  }
  .requirements_section .requirements_boxs .boxs .box .text span {
    font-size: 13px;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden !important;
}

body {
  font-family: "Montserrat", sans-serif !important;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #f4f6ff !important;
}

ul {
  list-style: none !important;
}

p {
  margin-bottom: 0;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

button {
  border: none;
  background-color: transparent;
}

svg {
  width: 25px;
}

main {
  overflow: hidden;
}