$dark-color: #000000;
$purple-color: #e885ff;
$blue-color: #85f7ff;
$purple2-color: #6c1eda;

// start contact_section
.contact_section {
  padding: 70px 0;
  background-color: white;

  .line {
    display: flex;
    align-items: center;
    gap: 40px;

    .left,
    .right {
      width: 50%;
    }

    .left {
      .subtitle {
        font-size: 21px;
        color: $purple2-color;
      }

      .title {
        font-size: 45px;
        font-weight: 700;
      }

      .desc {
        color: gray;
        margin-bottom: 30px;
      }

      .item {
        padding: 10px 20px;
        border: 2px dashed gray;
        border-radius: 60px;
        display: flex;
        align-items: center;
        gap: 20px;

        &:not(:last-child) {
          margin-bottom: 15px;
        }

        .icon {
          width: 60px;
          height: 60px;
          background-color: #eff2fb;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;

          svg {
            color: $purple2-color;
          }
        }

        .text {
          h4 {
            margin-bottom: 0;
            font-size: 19px;
            font-weight: 600;
          }

          span {
            font-size: 15px;
            color: gray;
          }
        }
      }
    }

    .right {
      form {
        input,
        textarea {
          padding: 15px;
          background-color: #eff2fb;
          border: none;
          outline: none;
          border-radius: 50px;
          width: 100%;
          margin-bottom: 15px;
        }

        textarea {
          border-radius: 12px;
          height: 200px;
        }

        .btn_submit {
          background-color: $purple2-color;
          color: white;
          font-weight: 600;
          font-size: 18px;
          border-radius: 50px;
          padding: 8px 35px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .contact_section {
    padding: 30px 0;

    .line {
      flex-direction: column;
      gap: 20px;

      .left,
      .right {
        width: 100%;
      }

      .left {
        text-align: center;

        .subtitle {
          font-size: 18px;
        }

        .title {
          font-size: 23px;
        }

        .desc {
          font-size: 13px;
          margin-bottom: 20px;
        }

        .item {
          padding: 0;
          flex-direction: column;
          gap: 5px;
          border: none;

          .icon {
            width: 40px;
            height: 40px;

            svg {
              width: 20px;
            }
          }

          .text {
            h4 {
              font-size: 17px;
            }

            span {
              font-size: 13px;
            }
          }
        }
      }

      .right {
        form {
          input,
          textarea {
            padding: 10px 15px;
            margin-bottom: 8px;
            font-size: 15px;
          }

          textarea {
            height: 120px;
          }

          .btn_submit {
            padding: 5px 25px;
            font-size: 14px;
          }
        }
      }
    }
  }
}
// end contact_section
